image: node:18-alpine

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:
    - npm ci || npm install
    - CI=false npm run build  # CI=false to ignore warnings
    - rm -rf public
    - cp -r build public
  artifacts:
    paths:
      - public
  only:
    - main